.categories  img {
    height: 100px;
    width: 100px;
}
.btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 100%);
    border: none;
    color: white;
}
@media (min-width:689px) and (max-width:998px) {
    .card{
width: 20rem !important;
    }
.last-card{
    margin-top: 25px;
}
.carosel{
    margin-top: 60px;
}
}

@media (max-width:688px) {
    .card{
        margin-bottom: 50px;
        width: 90% !important;
        margin-left: 5% !important;
        height: auto !important;
    }
    .carosel{
        margin-top: 55px;
    }
}

@media (min-width:999px) and (max-width:1100px) {
    .card{
width: 18rem !important;
}
.type-of-bag{
    height: 32rem !important;

}
.carosel{
    margin-top: 65px;
}
}